<footer class="footer-navbar">
    </div>

    <div class="footer-right">
        <div class="footer-links">
            <a href="https://github.com/Kiy0w0/owomizu/" target="_blank" class="footer-link" title="GitHub Repository">
                <i class="fab fa-github"></i>
                <span>GitHub</span>
            </a>
            <a href="https://youtube.com/" target="_blank" class="footer-link" title="YouTube Channel">
                <i class="fab fa-youtube"></i>
                <span>YouTube</span>
            </a>
            <a href="https://discord.gg/gfRCmHeFwD" target="_blank" class="footer-link" title="Discord Server">
                <i class="fab fa-discord"></i>
                <span>Discord</span>
            </a>
        </div>
    </div>
    </div>
</footer>